// ===================================================
//
// Forms
//
// ===================================================
.form {
  padding: 10px 15px 25px;

  &.demo {
    background: $theme-color-quaternary;
    border: solid 1px $color-border;
    border-width: 1px 1px 4px;
  }
}

// Field validation styles
// ===================================================

// textarea,
// [type="url"],
// [type="file"],
// [type="text"],
// [type="date"],
// [type="time"],
// [type="week"],
// [type="email"],
// [type="month"],
// [type="color"],
// [type="number"],
// [type="search"],
// [type="password"],
// [type="datetime"],
// [type="datetime-local"] {
//   &[data-validation="required"] {
//     // Insert something that indicates required
//   }
// }


// Field errors
// ===================================================

%invalid {
  background: lighten($color-warning, 30%);
  border: solid 1px $color-warning;
  @include transition(none);
}

.validation-summary,
.validation-summary-message,
.error {
  color: darken($color-warning, 20%);
  display: none;

  &.visible {
    display: block;
  }
}

.validation-summary,
.error, {
  padding: 20px;
}

.errors {
  @extend %invalid;
  border-width: 0 1px 1px;
  display: none;
  margin: 0;
  padding: 0;
}

.error {
  list-style: none;
  margin: 0;
  padding: 0 10px 10px;
}



// Show / Hide individual validation messages for fields
// ===================================================

// .required-indicator {
//   display: none;
//   [data-validation~="required"] ~  & {
//     display: block;
//     position: absolute;
//     right: 15px;
//     top: 47px;
//     @include font-size(35px);
//   }
// }

[data-validation~="required"] {
  border-bottom: solid 4px $color-border;
}

[type="text"],
[type="email"],
[type="number"],
[type="search"],
[type="password"],
[type="checkbox"] {

  // When field is valid
  &.valid {
    border-color: $color-valid;
    background: lighten($color-valid, 40%);
    @include transition(none);
  }

  // When field is invalid
  &.invalid {
    @extend %invalid;
    border-bottom: solid 1px lighten($color-warning, 20%);
    height: 47px;

    // Display errors container
    & + .errors {
      display: block;
      padding-top: 10px;
    }

    // Display the relevant field validation message
    &.required + .errors [data-error="required"] {
      display: block;
    }
    &.email + .errors [data-error="email"] {
      display: block;
    }
    &.number + .errors [data-error="number"] {
      display: block;
    }
    &.minchars + .errors [data-error="minchars"] {
      display: block;
    }
    &.custom + .errors [data-error="custom"] {
      display: block;
    }
    &.equalto + .errors [data-error="equalto"] {
      display: block;
    }

    // Show error for non-text fields
    &[type="checkbox"],
    &[type="radio"] {
      background: #fff;
      border-bottom: solid 1px lighten($color-warning, 20%);
      @include rem( height, 18px );
      @include rem( width, 18px );

      // Small tweaks to the error container
      & + .errors {
        border-width: 1px;
        @include rem( margin-top, 5px );
      }
    }
  }

}
