// ===================================================
//
// Forms
//
// ===================================================


// Field validation styles
// ===================================================

textarea,
[type="url"],
[type="file"],
[type="text"],
[type="date"],
[type="time"],
[type="week"],
[type="email"],
[type="month"],
[type="color"],
[type="number"],
[type="search"],
[type="password"],
[type="datetime"],
[type="datetime-local"] {
  &[data-validation="required"] {
    // Insert something that indicates required
  }
}


// Field errors
// ===================================================
.validation-summary,
.validation-summary-message,
.error {
  color: $color-error;
  display: none;

  &.visible {
    display: block;
  }
}

.validation-summary,
.error, {
  padding: 20px;
}

.errors {
  background: lighten($color-error, 40%);
  border: solid 1px $color-error;
  border-width: 0 1px 1px;
  display: none;
}

.error {
  padding: 0 10px 10px;
}



// Show / Hide individual validation messages for fields
// ===================================================

[type="text"],
[type="email"],
[type="number"],
[type="search"],
[type="password"] {

  // @include transition(border-color, background 4s);

  // When field is valid
  &.valid {
    border-color: $color-valid;
    background: lighten($color-valid, 40%);
    @include transition(none);
  }

  // When field is invalid
  &.invalid {
    background: lighten($color-error, 40%);
    border-color: $color-error;
    border-bottom: 0;
    @include transition(none);

    // Display errors container
    & + .errors {
      display: block;
    }

    // Display the relevant field validation message
    &.required + .errors [data-error="required"] {
      display: block;
    }
    &.email + .errors [data-error="email"] {
      display: block;
    }
  }
}
